.logo {
  display: block;
  cursor: pointer;
}

.row {
  margin: 1em auto;
}

.image img {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.form {
  width: 80%;
  margin: auto;
}

.container {
  width: 90%;
  margin: 30px auto;
  position: relative;
  text-align: center;
}

.block {
  display: inline-block;
  margin: 10px;
}

.error-msg {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.graph-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  padding: 1em;
}

.full-summary {
  text-align: center;
  font-size: 25px;
  font-family: "Oswald", sans-serif;
}

.title {
  font-family: "Oswald", sans-serif;
}

.disc-container {
  font-size: 20px;
  width: 50%;
  margin: 30px auto;
  position: relative;
  text-align: center;
}

.disc-container p {
  text-align: justify;
  font-size: 20px;
  line-height: 30px;
}

.made-with-love {
  position: relative;
  width: 100%;
  bottom: 0;
  margin: 10px 0;
  text-align: center;
  font-size: 17px;
}

.made-with-love a {
  text-decoration: underline;
  color: black;
}

@media (max-width: 596px) {
  .error-msg {
    width: 90% !important;
  }
}

@media (max-width: 512px) {
  .form {
    margin: 2em auto;
  }
}

@media (max-width: 440px) {
  .image img {
    width: 200px;
  }
  .row {
    margin: 2em 5px;
  }
}
